# E. 수치 연산을 위한 유용한 메서드

Numpy를 이용하면 간단하게 **Array를 구성하는 각각의 원소에 대해 동일한 연산을 적용**할 수 있습니다.  
이런 메서드를 Universal Function이라고 합니다.  이는 Numpy의 최대 강점 중 하나입니다.  
이번 Section에서는 Array의 수치 연산을 위한 다양하고 유용한 메서드들을 학습하겠습니다.

### _Objective_
1. **Numpy Method** : Array의 연산을 위한 UFuncs 등의 다양하고 유용한 메서드들을 학습

In [1]:
import numpy as np

# \[ 1. 원소 연산 \]

Numpy에서는 다음과 같은 형태의 Array의 연산을 수행할 수 있습니다.
1. Array를 구성하는 원소별 연산
2. 같은 형태의 Array 간 연산
3. Scalar값과 Array 간 연산
4. 다른 형태의 Array 간 연산  

각각의 경우에 Numpy의 **사칙연산을 비롯한 다양한 원소별 연산 메서드**를 적용해보며 Numpy에서 원소별 연산이 어떻게 작동하는지 살펴봅시다.

## 1. Array를 구성하는 원소별 연산
+ Array의 구성 원소를 원하는 메서드에 따라 변환할 수 있습니다.

벡터 형태의 Array를 만들어 sin, 지수, 로그 등의 값으로 변환해봅시다.

우선 1(결과값 포함)에서 5(결과값 미포함)사이 0.5 간격의 값들을 포함하는 벡터를 만들어 보겠습니다. 그런 다음 이 값들의 사인(sin), 지수(exp) 및 로그(log)값 배열을 가져옵니다.

In [2]:
A = np.arange(1, 5, 0.5)
A

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5])

### (1) sin 메서드

`.sin()`메서드를 사용하면 $y = sin(x)$을 원소 별로 적용하여 결과를 반환합니다.

In [3]:
np.sin(A)

array([ 0.84147098,  0.99749499,  0.90929743,  0.59847214,  0.14112001,
       -0.35078323, -0.7568025 , -0.97753012])

### (2) 지수 메서드

`.exp()`메서드를 사용하면 $y=e^x$을 원소 별로 적용하여 결과를 반환합니다.

In [4]:
np.exp(A)

array([ 2.71828183,  4.48168907,  7.3890561 , 12.18249396, 20.08553692,
       33.11545196, 54.59815003, 90.0171313 ])

### (3) 로그 메서드

`.log()`메서드를 사용하면 $y = log(x)$을 원소 별로 적용하여 결과를 반환합니다.

In [5]:
np.log(A)

array([0.        , 0.40546511, 0.69314718, 0.91629073, 1.09861229,
       1.25276297, 1.38629436, 1.5040774 ])

### (4) 행렬 곱 메서드

행렬을 서로 곱하는 행렬곱(matrix multiplication)도 가장 중요한 연산 중 하나입니다.  
Numpy에서는 행렬곱 연산도 `.matmul()` 메소드로 아래처럼 간단히 구현할 수 있습니다.

In [6]:
W = np.array([
    [1, 2, 3],
    [2, 3, 4],
    [3, 4, 5]
])
X = np.array([
    [1],
    [2],
    [3],
])

In [7]:
np.matmul(W,X)

array([[14],
       [20],
       [26]])

# \[ 2. 집계 연산 \]

Numpy는 집계 연산을 위한 다양한 메서드가 존재합니다.  
집계 메서드는 한 축이 갖는 여러개의 값을 그룹당 하나의 값으로 반환합니다.

#### 예제)  학생들의 중간, 기말 성적표
앞선 Section에서 사용했던 학생들의 과목별 성적 데이터를 활용하겠습니다.

In [4]:
midterm_scores = np.array([
       [80, 92, 70, 65, 92],
       [91, 75, 90, 68, 85],
       [86, 76, 42, 72, 88],
       [77, 92, 52, 60, 80],
       [75, 85, 85, 92, 95],
       [96, 90, 95, 81, 72]])

final_scores = np.array([
       [85, 95, 90, 66, 93],
       [93, 70, 80, 60, 81],
       [89, 78, 55, 75, 80],
       [80, 94, 59, 72, 90],
       [70, 82, 81, 95, 72],
       [90, 76, 93, 82, 89]])

final_scores.shape

(6, 5)

## 1. 다양한 집계 연산 메서드

### (1) np.sum()
`.sum()`메서드를 사용하면 array의 전체 합을 구할 수 있습니다.

#### 모든 학생의 중간고사 성적 합

In [9]:
midterm_scores.sum()

2399

#### 0번 학생의 중간고사 성적 합

In [10]:
midterm_scores[0,:].sum()

399

### (2) np.mean()
`.mean()`메서드를 사용하면 넘파이 배열의 평균값을 쉽게 구할 수 있습니다.

#### 모든 학생의 중간고사 성적 평균

In [11]:
midterm_scores.mean()

79.96666666666667

#### 4번 학생의 중간고사 성적 평균

In [12]:
midterm_scores[4,:].mean()

86.4

### (3) np.max()
`.max()`메서드는 array의 최댓값을 반환합니다.

 #### 기말고사 성적의 최대 점수

In [13]:
final_scores.max()

95

#### 2번 학생의 최대 점수

In [14]:
final_scores[2,:].max()

89

### (4) np.min()
`.min()`메서드는 array의 최솟값을 반환합니다.

 #### 기말고사 성적의 최저 점수

In [15]:
final_scores.min()

55

#### 3번 학생의 최저 점수

In [16]:
final_scores[3,:].min()

59

### (5) np.std()
`.std()`메서드는 array의 표준 편차를 반환합니다.

#### 전체 학생의 중간고사 성적 표준 편차

In [17]:
midterm_scores.std()

13.011490648226621

### (6) np.stack()
`np.stack()`메서드를 이용하면 여러 개의 Array를 하나의 Array로 합침으로써 차원을 확장시킬 수 있습니다.

#### 중간고사, 기말고사 성적 합치기

In [18]:
scores = np.stack([midterm_scores,final_scores])
print(scores.shape)
scores

(2, 6, 5)

array([[[80, 92, 70, 65, 92],
        [91, 75, 90, 68, 85],
        [86, 76, 42, 72, 88],
        [77, 92, 52, 60, 80],
        [75, 85, 85, 92, 95],
        [96, 90, 95, 81, 72]],

       [[85, 95, 90, 66, 93],
        [93, 70, 80, 60, 81],
        [89, 78, 55, 75, 80],
        [80, 94, 59, 72, 90],
        [70, 82, 81, 95, 72],
        [90, 76, 93, 82, 89]]])

stack된 (2, 6, 5) shape의 의미는 아래와 같습니다. 

- 2 : axis = 0 : 시험 기간(중간고사, 기말고사)
- 6 : axis = 1 : 여섯명의 학생
- 5 : axis = 2 : 다섯개의 과목

### (7) np.all()
`.all()`메서드는 구성 원소가 **모두** True 일때만 True를 반환하고 하나라도 False가 있으면 False를 반환합니다.

#### 중간고사와 기말고사 영어성적이 모두 90점 이상인 학생

**시험기간**을 기준으로 집계하기 위해 `.all()`의 `axis`인자로 0을 설정합니다.

In [19]:
np.all(scores[:,:,1]>=90, axis=0)

array([ True, False, False,  True, False, False])

0번과 4번 학생만 두 시험에서 영어 성적이 모두 90점 이상인 것을 확인할 수 있습니다.

### (8) np.any()
`np.any`메서드는 구성 원소 중 **하나라도** True가 있으면 True를 반환합니다.  
Array 간 비교 시 원소가 **모두 달라야 False를**, 원소가 하나라도 같으면 True를 반환합니다.

#### 중간고사, 기말고사의 수학 점수가 하나라도 50점 이하인 학생

위 결과를 가지고 중간고사와 기말고사 성적 둘 중 하나라도 True이면 True를 반환한 결과를 얻으려면 `axis = 0`으로 설정합니다.

In [20]:
np.any(scores[:,:,2]<=50, axis=0)

array([False, False,  True, False, False, False])

2번 학생은 두 시험중 한 시험에서 성적이 50점 이하였음을 확인할 수 있습니다.

### (9) np.unique()

`.unique()` 메서드는 입력된 Array에서 **중복되지 않는 유일한 요소**들의 numpy array를 정렬하여 반환합니다.

#### 유일한 성적 집계

In [21]:
np.unique(scores)

array([42, 52, 55, 59, 60, 65, 66, 68, 70, 72, 75, 76, 77, 78, 80, 81, 82,
       85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96])

중복되지 않는 유일한 성적을 반환함을 확인할 수 있습니다.