# 3. Numpy Indexing

지난 Section 2에서는 2차원 행렬에서 `A[0,0]`과 같은 식으로 원하는 행렬에서 원하는 값을 가져왔었습니다.  
이번 Section 3에서는 Numpy Array에서 **원하는 값을 가져오는** 인덱싱 기능의 **구체적인 작동방식과 다양한 인덱싱 방식**을 배워보겠습니다.

### _Objective_
1. **원하는 위치의 원소 또는 범위 가져오기** : Numpy Array에서 원하는 위치의 값을 가져오는 방법을 배웁니다.

In [ ]:
import numpy as np

# \[ 1. Array Indexing \]
 
인덱싱(indexing) 방법과 유사한 방법으로 `np.array`에서 원하는 값을 가져올 수 있습니다.  
Numpy Array도 `list`, `tuple` 등과 마찬가지로 **구성하는 원소에 순서**가 있기 때문입니다.

#### **예제) 학생들의 성적표**

| 학생 번호 | 역사 | 영어 | 수학 | 사회 | 과학 |
|  ----   | --- |---| --- | --- | --- |
|0 |80 |92 |70 | 65 | 92 |
|1 |91 |75 |90 | 68 | 85 | 
|2 |86 |76 |42 | 72 | 88 |
|3 |77 |92 |52 | 60 | 80 |
|4 |75 |85 |85 | 92 | 95 |
|5 |96 |90 |95 | 81 | 72 |

In [ ]:
scores = np.array([
    [80,92,70,65,92],
    [91,75,90,68,85],
    [86,76,42,72,88],
    [77,92,52,60,80],
    [75,85,85,92,95],
    [96,90,95,81,72]
])
scores

## 1. 원소 인덱싱
+ Numpy Array를 인덱싱 할 때에도 대괄호 형식 `[인덱스 값]`을 사용합니다.
+ 각각의 축에 대해 **위치를 특정**하면, 원하는 위치의 **단일 원소**를 가져올 수 있습니다.

### (1) 단일 원소 인덱싱
2차원 행렬에는 축이 2개 있으므로 단일 원소를 가져오려면 각 축에 대한 인덱스 값이 필요하며, 이는 `[a, b]`로 표현할 수 있습니다.  
2차원 행렬에서는 `axis = 0이 행`, `axis = 1이 열`을 뜻하므로, `[행(a), 열(b)]`라고 생각하면 됩니다.

#### 2번 학생의 역사 성적

In [ ]:
# row=3 , col=1
scores[2,0]

#### 3번 학생의 수학 성적

In [ ]:
# row=4, col=3
scores[3,2]

<div class="alert alert-block alert-warning">
<b> [Practice] 원소 인덱싱 </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 
 다음은 어떤 국가의 연도별 화물수출입건수(단위 : 1000 건) 표입니다. <br>

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,290 | 6,070 |
| Year2 | 4,425 | 6,278 |
| Year3 | 4,577 | 6,350 |
| Year4 | 4,617 | 8,295 | 
| Year5| 4,491 | 10,780 |


Q1. 위 표를 `cargo_n_array` 변수에 Numpy Array 형식으로 만드세요.(숫자값만 넣어서 만들어보세요.)

Q2. `cargo_n_array`에서 Year1의 항공 화물수출입건수를 가져오세요.

Q3. `cargo_n_array`에서 Year3의 해상 화물수출입건수를 가져오세요.

In [ ]:
# Q1. 
# Type Here

# Q2. 
# Type Here 

# Q3. 
# Type Here

## 2. 범위 인덱싱
+ Numpy Array에서는 연속하는 부분을 **범위로 지정해서** 인덱싱 할 수 있습니다. 이를 **슬라이싱** 이라고도 표현합니다.
+ **축**을 기준으로 **원하는 행 또는 열을 특정**하여 원하는 축에 있는 원소를 가져올 수 있습니다.
+ 해당 축의 값을 **전부** 가져오려면 `:`를 사용할 수 있습니다.

### (1) 행 인덱싱 (axis=0)

`[시작:끝]` 식으로 인덱스를 입력하면 범위로 데이터를 가져올 수 있습니다.  
학생은 행(axis=0)이므로 열(axis=1)을 따로 특정하지 않으면 행의 '전부'를 가져오게 됩니다.

#### 1번 학생의 전체 성적

In [ ]:
# row=1, col=all
scores[1,:]

#### 3번 학생의 전체 성적

In [ ]:
# row=3, col=all
scores[3,:]

#### 1번부터 n번 학생의 성적

In [ ]:
# row=1~4 / col=all
scores[1:5]

#### 2번~5번 학생의 성적

In [ ]:
# row=2~5 / col=all
scores[2:6]

####  짝수 번호의 학생 성적

In [ ]:
# row=0,2,4 / col=all
scores[0:6:2]

####  홀수 번호의 학생 성적

In [ ]:
# row=1,3,5 / col=all
scores[1:6:2]

### (2) 열 인덱싱 (axis=1)

열만 특정해서 가져올 때는 행 인덱싱과 순서만 바꿔주면 됩니다. 여기서도 `:` 는 "전부"를 의미합니다.

#### 전체 학생의 역사 성적

In [ ]:
# row=all / col=0
scores[:,0]

#### 전체 학생의 수학 성적

In [ ]:
# row=all / col=2
scores[:,2]

#### 전체 학생의 역사,영어,수학 성적

In [ ]:
# row=all / col=0,1,2
scores[:,0:3]

#### 전체 학생의 영어,수학,사회 성적

In [ ]:
# row=all / col=1,2,3
scores[:,1:4]

### (3) list 방식 인덱싱
**정해진 범위가 아닌 특정 범위를 지정**하여 인덱싱할 때에는 list방식을 사용하면 됩니다.

#### 1,3,4번 학생의 성적

In [ ]:
# row=1,3,4 / col = all
scores[[1,3,4]] # 특정 범위를 list에 담아서 인덱싱

#### 전체 학생의 수학, 과학 성적

In [ ]:
# row= all / col = 2,4
scores[:,[2,4]]

<div class="alert alert-block alert-warning">
<b> [Practice] 범위 인덱싱 </b> 
</div>
 앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 
 다음은 어떤 국가의 연도별 화물수출입건수(단위 : 1000 건) 표입니다. <br>

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,290 | 6,070 |
| Year2 | 4,425 | 6,278 |
| Year3 | 4,577 | 6,350 |
| Year4 | 4,617 | 8,295 | 
| Year5| 4,491 | 10,780 |


Q1. 위 표를 `cargo_n_array` 변수에 Numpy Array 형식으로 만드세요.(숫자값만 넣어서 만들어보세요.)
```
cargo_n_array = np.array([
    [4290, 6070],
    [4425, 6278],
    [4577, 6350],
    [4617, 8295],
    [4491, 10780]
])
```
Q2. `cargo_n_array`에서 Year1부터 Year3의 화물수출입건수 가져오세요.

Q3. `cargo_n_array`에서 Year1, Year3, Year5의 항공 화물수출입건수 가져오세요.

Q4. `cargo_n_array`에서 모든 연도의 해상 화물수출입건수 가져오세요.

In [ ]:
# Q1. 
# Type Here

# Q2. 
# Type Here 

# Q3. 
# Type Here

# Q4. 
# Type Here

## 3. Boolean Indexing 
+ Numpy Array를 인덱싱 할 때 **Boolean Mask를 이용해서도 인덱싱이 가능**합니다.
+ **Boolean Mask는 True / False 값으로 구성된 Array**를 뜻하며, Numpy Array에서 원하는 값을 가져올 때 인덱스로 활용할 수 있습니다.

### (1) 1차원 Boolean Indexing
Boolean Indexing은 **인덱싱 하려는 Array와 Boolean Mask 축의 원소 수가 같아야 한다**는 조건만 충족하면 됩니다.  
아래와 같이 `(2,3)`의 shape을 가지는 Numpy Array를 인덱싱 해봅시다.

In [ ]:
# (2,3) Array
array_1= np.arange(0,6).reshape(2,3)
array_1

#### 행(axis=0) 인덱싱

축의 원소 수가 같아야 하므로 행 Indexing에 사용될 Boolean Mask는 (2,)형태로 만들어 줍니다.

In [ ]:
# (2,) Boolean Mask
mask = np.array([True,False])
mask.shape
array_1[mask,:]

그리고 Array의 인덱싱 자리에 마스크를 집어넣으면, **True에 해당하는 부분만** 인덱싱 할 수 있습니다.

x array의 0번 축의 1행에 해당하는 열들을 가져오는 것을 확인할 수 있습니다.

#### 열(axis=1) 인덱싱

열 Indexing에 사용될 Boolean Mask는 (3,)형태로 만들어 주고 array_1의 열 인덱싱 부분에 넣어줍니다.

In [ ]:
# (3,) Boolean Mask
mask = np.array([False,False,True])
mask.shape

In [ ]:
array_1[:,mask]

x array의 1번 축의 3열에 해당하는 행들을 가져오는 것을 확인할 수 있습니다.

### (2) 2차원 Boolean Indexing
0번 축과 함께 1번 축에 대해서도 `True`와 `False` 값으로 인덱싱을 하고 싶다면 어떻게 해야 할까요?  
그러기 위해서는 Boolean Mask도 2차원으로 만들어야 합니다.

In [ ]:
# (3,3)Array
array_2 = np.arange(0,9).reshape(3,3)
array_2

In [ ]:
# (3,3)Boolean Mask
mask = np.array([
    [True,False, True],
    [False,False, False],
    [True,False, True]])
mask.shape

In [ ]:
array_2[mask]

2차원의 array_2와 mask의 원소가 매칭되는 부분만 인덱싱 되는 것을 확인할 수 있습니다.

<div class="alert alert-block alert-warning">
<b> [Practice -  Boolean 인덱싱] </b> 
</div>
 앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 
 다음은 어떤 국가의 연도별 화물수출입건수(단위 : 1000 건) 표입니다. <br>

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,290 | 6,070 |
| Year2 | 4,425 | 6,278 |
| Year3 | 4,577 | 6,350 |
| Year4 | 4,617 | 8,295 | 
| Year5| 4,491 | 10,780 |


Q1. 위 표를 `cargo_n_array` 변수에 Numpy Array 형식으로 만들어보세요.(숫자값만 넣어서 만들어보세요.)
```
cargo_n_array = np.array([
    [4290, 6070],
    [4425, 6278],
    [4577, 6350],
    [4617, 8295],
    [4491, 10780]
])
```



Q2. Boolean mask를 이용해 `cargo_n_array`에서 Year1, Year3, Year5의 항공 화물수출입건수 가져오세요.

Q3. Boolean mask를 이용해 `cargo_n_array`에서 8,000,000건 이상 수출입건수 데이터 가져오세요.

In [ ]:
# Q1. 
# Type Here

# Q2. 
# Type Here 

# Q3. 
# Type Here