# 2. 구조와 생성

Array는 Numpy에서 데이터를 다루는 가장 기본이 되는 자료구조입니다.  
Numpy는 **Array를 중심으로 벡터화하여 연산이 구현(vectorized operation)**되기 때문에, 복잡한 선형대수 연산도 간단하고 빠르게 실행할 수 있습니다.    
따라서 Numpy의 강점을 극대화하여 활용하기 위해선 Numpy의 기본 자료 구조인 Array를 이해하는 것이 매우 중요합니다.  
Section 2에서는 Numpy의 구조를 이해하고, 이를 기반으로 Numpy Array를 생성(Create)하는 방법을 배워보겠습니다. 

### _Objective_
1. **Numpy Array 구조**: Numpy의 기본 특징인 value, shape, data type 등을 이해합니다.
2. **Numpy Array 생성**: Numpy Array를 생성하는 다양한 방법을 배웁니다.

In [1]:
import numpy as np

# \[ 1. Numpy Array의 구조 \]

Numpy Array는 원소(element)의 값(value)과 array의 형태(shape)를 설정해야 생성됩니다.  
Numpy Array의 중요한 특징인 shape과 datatype에 대해 배워봅시다.

## 1. Data Type

+ Python에서 변수 생성 시, 입력한 데이터의 타입을 파악하여 자동으로 설정됩니다.
+ Numpy의 Numpy Array에서는 **모든 원소의 데이터 타입이 동일해야 합니다.**

### (1) 원소 구성

List는 각 원소의 데이터 타입이 달라도 됩니다. 예를 들어 아래와 같이 정수형, 실수형, 논리형 데이터가 하나의 리스트 안에 들어갈 수 있습니다.

In [2]:
# List
A_ = [1,1.2,False]
A_

`np.array`는 행렬 내 모든 원소가 같은 타입이어야만 합니다.  
앞서 만든 List와 같이 `[1,1.2,False]`로 Array를 구성하면, 자동으로 `False`를 `0.`으로 바꾸어 Array를 생성합니다.

In [3]:
# numpy array
A = np.array([1,1.2,False])
A

### (2) 데이터 타입 변환
`astype({변환할 데이터 타입})`으로, np.array 원소를 원하는 타입으로 `type-casting`할 수 있습니다.

In [4]:
A = np.array([0,1,2,3,4,5])
A

In [5]:
# int -> float으로 바꾸기
A.astype(np.float)

In [6]:
# int -> bool으로 바꾸기
A.astype(np.bool)

### (3) 데이터 타입 확인
`dtype` 메소드를 이용하면 현재 `np.array`를 구성하는 데이터 타입이 무엇인지 알 수 있습니다.

#### boolean array

In [7]:
A = np.array([True,False])
A

In [8]:
A.dtype

#### int array

In [9]:
A = np.array([1,2,3])
A

In [10]:
A.dtype

<div class="alert alert-block alert-warning">
<b> [Practice] Data Type </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요.

Q1. `arr1` 변수에  [0, 1, 3, 0, 1, 2, 5]를 Numpy Array 형식으로 만드세요.

Q2. `arr1`의 원소들을 float으로 type-casting하여 `arr2`로 만들고, datatype을 출력해 보세요.

Q3. `arr1`의 원소들을 boolean으로 type-casting하여 `arr3`로 만들고, datatype을 출력해보세요.

In [11]:
# Q1.
# Type Here

# Q2.
# Type Here

# Q3.
# Type Here

## 2. Shape

+ Numpy에서의 **Shape**은 Array의 '형태'를 뜻합니다.
+ 메소드 `.shape`로 형태는 어떠한지, `.ndim`으로 몇 차원인지 확인할 수 있으며, `.size`로 몇 개의 원소로 구성되어 있는지 확인할 수 있습니다.<br>

### (1) Shape 조건

Numpy의 Array는 **각 축을 구성하는 원소의 갯수가 같아야 한다**는 점에서 Python의 List와 가장 큰 차이가 있습니다.  
`numpy.array`는 아래와 같이 각 행과 열별로 구성하는 원소의 수가 동일하지 않으면 생성할 수 없습니다.

In [12]:
A = np.array([
    [1,2,3,4,5], # 크기가 5
    [2,3,4,5], # 크기가 4
    [3,4,5,6,7] # 크기가 5
],dtype=np.int64)
A

ValueError: setting an array element with a sequence.

In [13]:
B = np.array([
    [1,2,3,4,5], # 크기가 5
    [2,3,4,5,6], # 크기가 5
    [3,4,5,6,7] # 크기가 5
    ],dtype=np.int64)
B

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]], dtype=int64)

`.shape`을 통해 array의 행과 열을 확인할 수 있습니다.

In [14]:
B.shape

(3, 5)

shape 표기는 오른쪽에서 왼쪽으로 읽으면 이해하기 쉽습니다. 위 경우 5개의 원소 묶음이 3개 있다는 뜻입니다.  
`.size`를 통해 원소의 수를 확인할 수 있습니다.

In [15]:
A.size

3

### (2) 차원(dimension)
Numpy Array에서는 1차원 벡터부터 다차원 행렬까지 모두 구현이 가능하며, `[`과 `]`으로 차원을 구분하고 추가합니다.

#### 1차원 행렬 `(n,)` 

1차원 행렬은 **Vector(벡터)**라고 부릅니다. 벡터는 `[`와 `]`을 한 단위로 볼 때 한 블럭의 데이터만으로 구성된 Array로 구현됩니다.

In [16]:
A_1D = np.array([1,2,3,4,5])
A_1D

array([1, 2, 3, 4, 5])

In [17]:
A_1D.ndim # 차원 수

1

In [18]:
A_1D.shape

(5,)

In [19]:
A_1D.size

5

#### 2차원 행렬 `(n, m)`


2차원 행렬은 수학에서 **Matrix(행렬)**이라고 불립니다.  
2차원 행렬은 행과 열로 구성되는데, **`[ 원소 ]` 블럭을 두 레벨로 구성하여 구현**할 수 있습니다.  
`[`로 블럭을 열고 그 안에 다시 `[`와 `]`로 구성된 벡터를 넣은 후 `]`로 바깥 블럭을 닫으면 두 레벨로 Array가 구성되며 이는 곧 2차원 행렬이 됩니다.

In [20]:
B_2D = np.array([
    [1,2,3,4,5],
    [2,3,4,5,6],
    [3,4,5,6,7]
],dtype=np.int64)
B_2D

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]], dtype=int64)

In [21]:
B_2D.ndim # 차원 수

2

In [22]:
B_2D.shape

(3, 5)

In [23]:
B_2D.size

15

#### 3차원 행렬 `(n, m, d)`
3차원 이상의 행렬은 수학에서 주로 **다차원 행렬(Multidimensional Matrix)라고 부릅니다.  
`[ ]` 블럭을 세 레벨로 구성하여 구현**할 수 있습니다.

In [24]:
C_3D = np.array([
    [
        [1,2,3,4,5],
        [2,3,4,5,6],
        [3,4,5,6,7]
    ],
    [
        [1,2,3,4,5],
        [2,3,4,5,6],
        [3,4,5,6,7]
    ]
])
C_3D

array([[[1, 2, 3, 4, 5],
        [2, 3, 4, 5, 6],
        [3, 4, 5, 6, 7]],

       [[1, 2, 3, 4, 5],
        [2, 3, 4, 5, 6],
        [3, 4, 5, 6, 7]]])

In [25]:
C_3D.ndim # 차원 수

3

In [26]:
C_3D.shape # 2x3x5

(2, 3, 5)

In [27]:
C_3D.size  # 2x3x5 = 15

30

### (3) 축(axis)

**데이터가 N차원이라는 것은 N개의 축(axis)이 존재한다**는 의미입니다.  
Numpy에서는 축을 기준으로 데이터를 다루는 다양한 기능(집계, 데이터 추가 등)을 제공하고 있습니다.  
따라서 축의 개념과 집계연산을 할 축을 지정하는 방법을 정확히 이해해야 합니다.

#### 1차원 벡터의 축
Numpy에서는 Python의 기본적인 인덱싱 방법을 따라 **축의 이름 역시 0부터 부여합니다**.

In [28]:
A = np.array([1,  2,  3,  4,  5,  6])

In [29]:
A.shape

(6,)

6개의 원소로 구성된 이 축을 **0번 축** 이라고 부릅니다.

![](https://cdn-images-1.medium.com/max/1500/1*MWYX6ziOe9-8r0VbwhLlXw.png)

<img src='./img/2_41.jpg' width=600 height=300/>

#### 2차원 행렬의 축

2차원 행렬 `A`는 2개의 축으로 이루어져 있습니다.

In [30]:
A = np.array([[1,2,3], [4,5,6]])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [31]:
A.shape

(2, 3)

shape의 왼쪽부터 시작해서 순서대로 축의 이름을 붙입니다.  
즉, 0번 축에는 2개의 원소로 구성되어 있고, 1번 축에는 3개의 원소로 구성되어 있음을 알 수 있습니다.

![](https://cdn-images-1.medium.com/max/1000/1*DC3vpqXdKZ-ATgqrZiz34w.png)

<img src='./img/2_40.jpg' width=700 height=500 />

#### 3차원 행렬의 축

3차원 행렬 `A`는 3개의 축으로 이루어져 있습니다.

In [32]:
A = np.array([[[1,2,3], [4,5,6]], [[1,2,3], [4,5,6]]])
A

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [33]:
A.shape

(2, 2, 3)

`(2, 2, 3)`은 각각 0번 축, 1번 축, 2번 축의 원소 수를 알려줍니다.  
0번 축에는 2개, 1번 축에는 2개, 2번 축은 3개 원소로 구성되어 있음을 알 수 있습니다.

![](https://cdn-images-1.medium.com/max/1000/1*DG93TCxGCbFKfb5JaqyzXA.png)

<img src='./img/2_42.jpg' width=1000 height=500/>

<div class="alert alert-block alert-warning">
<b> [Practice] Shape </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요.

Q1. `arr4` 변수에 0번 축의 요소가 5개이고, size가 15이면서 모든 원소가 1인 2차원 Array를 Numpy Array 형식으로 만들어 보세요.

Q2. `arr4`의 차원과 shape, size를 출력해보세요.

Q3. `arr5` 변수에 다음 조건을 모두 만족하는 3차원 Numpy Array를 만들어 보세요.
- 0번 축의 요소가 2개
- 2번 축의 요소가 3개
- size가 30
- 모든 원소가 2

Q4. `arr5`의 차원과 shape, size를 출력해보세요.

In [34]:
# Q1.
# Type Here

# Q2.
# Type Here

# Q3.
# Type Here

# Q4.
# Type Here



# \[ 2. Numpy Array의 생성 \]

Numpy Array를 만드는 방법은 다양합니다. 다른 자료구조로부터 데이터를 받아와 생성할 수도 있고,  
하나의 원소로만 구성되는 경우에는 값과 형태와 데이터 타입 등 Array의 구성을 설정하여 생성할 수도 있습니다.

## 1. 다른 자료로부터 Numpy Array 생성하기

* 이미 생성된 List나 Tuple 또는 다른 Array를 활용하여 새로운 Array를 생성할 수 있습니다.


### (1) List 혹은 Tuple로 Array 만들기 : `np.array()`

가장 기본적인 array를 만드는 방식으로, 주로 list나 tuple을 변환하여 array로 만듭니다.

In [35]:
A = np.array([1,2,3,4,5])
A

array([1, 2, 3, 4, 5])

In [36]:
# [2,3,4,5] 로 구성
B = # 입력

SyntaxError: invalid syntax (<ipython-input-36-cf8825ea59c5>, line 2)

### (2) 기존 Array 복사하기 :  `np.copy()`

똑같은 값을 가진 Array를 만들고자 한다면, `np.copy()`를 이용해야 합니다.

In [37]:
A = np.array([1,2,3,4,5])
A

array([1, 2, 3, 4, 5])

이렇게 할 경우, A를 복사하는 것이 아닌, 똑같은 A의 값을 가리키고 있는 상태가 됩니다.

In [38]:
B = A
print(id(B))
print(id(A))

1434265938560
1434265938560

**값만 가져와 새로운 변수를 생성하고, 기존 변수에는 영향을 미치고 싶지 않다**면 어떻게 해야 할까요?  
위와 같은 상황을 방지하기 위해서는 `.copy()`라는 메소드를 이용해야 합니다.

In [39]:
A = np.array([1,2,3,4,5])
A

array([1, 2, 3, 4, 5])

In [40]:
B = A.copy() # A를 복사하여 저장
print(id(B))
print(id(A)) # 서로 다른 메모리 위치에 저장

1434265939200
1434266020560

In [41]:
B[0] = 0 # B의 첫번째 원소를 바꾸었을 때, A는 바뀌지 않음
B

array([0, 2, 3, 4, 5])

In [42]:
A # B와 다름

array([1, 2, 3, 4, 5])

<div class="alert alert-block alert-warning">
<b> [Practice] 다른 자료로부터 Numpy Array 생성하기 </b>
</div>

앞서 학습한 내용을 참고하여 코드 셀에 직접 문제를 풀어보세요.

Q1. `tup` 변수에 (1, 2, 3)을 Tuple 형식으로 만들고, 이를 활용하여 `tup_arr`변수에 Numpy Array로 만들어보세요.

Q2. `tup_arr_copy` 변수에 `tup_arr`을 복사해보세요.(힌트: `.copy()`)

Q3. `tup_arr`의 첫번째 원소를 0으로 바꾸고 `tup_arr`와 `tup_arr_copy`를 출력하여 첫번째 원소를 확인해보세요.

In [43]:
# Q1.
# Type Here

# Q2.
# Type Here

# Q3.
# Type Here

<br>

## 2. 구성을 설정하여 Numpy Array 생성하기

+ 구성(Value, Shape, Datatype)을 각각 설정하여 Numpy Array를 생성할수도 있습니다.  
+ Array의 구성 원소가 동일한 값을 가지도록 하여 생성할 수도 있습니다.
+ 기존 Numpy Array의 Shape만 가져와 다른 값을 가지도록 생성할 수도 있습니다.
+ 원소들의 값들을 등간격으로 설정하여 생성할 수도 있습니다.

### (1) 값이 일정한 Array 생성 : `np.zeros()`&nbsp;,&nbsp; `np.ones()`&nbsp;,&nbsp; `np.full()`

Array를 생성할 때, 지정할 수 있는 파라미터에는 크게 `shape`, `value`, `dtype` 등이 있습니다.  
Array를 동일한 값으로 구성하려 한다면, `value`는 정해졌으므로 `shape`와 `dtype`를 정해 설정합니다.

In [44]:
# 값은 0이고, 3행 2열로 구성된 행렬
A = np.zeros(shape=(3,2), dtype=np.float64)
A

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [45]:
# 값은 1이고, 3행 2열로 구성된 행렬
A = np.ones(shape=(3,2), dtype=np.float64)
A

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [46]:
# 값은 3이고, 3행 2열로 구성된 행렬
A = np.full(shape=(3,2), fill_value=3., dtype=np.float64)
A

array([[3., 3.],
       [3., 3.],
       [3., 3.]])

### (2) 기존 Array와 동일한 shape의 Array 생성 : `np.zeros_like()`&nbsp;, &nbsp;`np.ones_like()`&nbsp;, &nbsp;`np.full_like()`&nbsp;
기존의 Numpy Array의 형태(shape)가 동일하되, 원하는 값으로 채워진 Numpy Array를 생성할 수 있습니다.

In [47]:
A = np.array([1,2,3,4,5])
A

array([1, 2, 3, 4, 5])

In [48]:
np.zeros_like(A, dtype=np.int) # A와 같은 Shape이면서 모든 원소의 값이 0 인 Numpy Array 생성

array([0, 0, 0, 0, 0])

In [49]:
np.ones_like(A, dtype=np.int) # A와 같은 Shape이면서 모든 원소의 값이 1 인 Numpy Array 생성

array([1, 1, 1, 1, 1])

In [50]:
np.full_like(A, fill_value=13, dtype=np.int) # 3. A와 같은 Shape이면서 모든 원소의 값이 13 인 Numpy Array 생성

array([13, 13, 13, 13, 13])

### (3) 같은 간격의 값으로 구성된 Array 생성하기 :  `np.linspace()`&nbsp; , &nbsp; `np.arange()`

등간격으로 배치된 Array를 만들고 싶을 때도 Numpy에서는 메소드를 통해 간단히 만들 수 있습니다.  
예를 들어 1부터 10까지 일정 간격으로 커지는 연속적인 값으로 구성된 Array를 구성한다면 다음 두 가지 방법을 활용할 수 있습니다.

* `np.linspace` : 1부터 10 사이를 **<몇 개의 숫자로 구성할지>를 기준**으로 Array를 만듭니다.
* `np.arange` : 1부터 10 사이를 **<얼만큼의 간격으로 나눌지>를 기준**으로 Array를 만듭니다.

In [51]:
np.linspace(start=1,stop=10, num=19) # 1부터 10까지 19개의 원소를 등간격으로 쪼개서 생성

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,
        6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [52]:
np.arange(1,10,0.5) # 1부터 10까지 0.5 step(간격)으로 더하여 원소를 생성

array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. , 6.5, 7. ,
       7.5, 8. , 8.5, 9. , 9.5])

<div class="alert alert-block alert-warning">
<b> [Practice] 구성을 설정하여 Numpy Array 생성하기 </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 

Q1. `arr6` 변수에 모든 원소의 값이 3이고, 2행 4열로 구성된 Numpy Array로 만들어 보세요.

Q2. `arr7` 변수에 `arr6`과 shape이 동일하면서 모든 원소가 0인 Numpy Array를 만들어 보세요.

Q3. `arr8` 변수에 1부터 19까지 일정한 간격으로 커지는 연속적인 10개의 원소로 구성된 Numpy Array를 만들어 보세요.

Q4. `arr9` 변수에 1부터 19까지 4 간격으로 커지는 원소로 구성된 Numpy Array를 만들어 보세요.

In [53]:
# Q1.
# Type Here

# Q2. 
# Type Here

# Q3.
# Type Here

# Q4.
# Type Here