# 4. 수치 연산을 위한 유용한 메서드

Numpy를 이용하면 간단하게 **Array를 구성하는 각각의 원소에 대해 동일한 연산을 적용**할 수 있습니다.  
이런 메서드를 Universal Function이라고 합니다.  이는 Numpy의 최대 강점 중 하나입니다.  
이번 Section에서는 Array의 수치 연산을 위한 다양하고 유용한 메서드들을 학습하겠습니다.

***Objective***
1. **원소별 연산** : Numpy에서 원소별 연산이 어떻게 작동하는지 학습합니다. 
1. **집계 연산** : Numpy에서 메소드를 이용한 집계 연산을 학습합니다.

In [ ]:
import numpy as np

# \[ 1. 원소별 연산 \]

Numpy에서는 다음과 같은 형태의 Array의 연산을 수행할 수 있습니다.
1. Array를 구성하는 원소별 연산
2. 같은 형태의 Array 간 연산
3. Scalar값과 Array 간 연산
4. 다른 형태의 Array 간 연산  

각각의 경우에 Numpy의 **사칙연산을 비롯한 다양한 원소별 연산 메서드**를 적용해보며 Numpy에서 원소별 연산이 어떻게 작동하는지 살펴봅시다.

## 1. Array를 구성하는 원소별 연산
+ Array의 구성 원소를 원하는 메서드에 따라 변환할 수 있습니다.

벡터 형태의 Array를 만들어 sin, 지수, 로그 등의 값으로 변환해봅시다.

우선 1(결과값 포함)에서 5(결과값 미포함)사이 0.5 간격의 값들을 포함하는 벡터를 만들어 보겠습니다. 그런 다음 이 값들의 사인(sin), 지수(exp) 및 로그(log)값 배열을 가져옵니다.

In [ ]:
A = np.arange(1, 5, 0.5)
A

### (1) sin 메서드

`.sin()`메서드를 사용하면 $y = sin(x)$을 원소 별로 적용하여 결과를 반환합니다.

In [ ]:
np.sin(A)

### (2) 지수 메서드

`.exp()`메서드를 사용하면 $y=e^x$을 원소 별로 적용하여 결과를 반환합니다.

In [ ]:
np.exp(A)

### (3) 로그 메서드

`.log()`메서드를 사용하면 $y = log(x)$을 원소 별로 적용하여 결과를 반환합니다.

In [ ]:
np.log(A)

### (4) 행렬 곱 메서드

행렬을 서로 곱하는 행렬곱(matrix multiplication)도 가장 중요한 연산 중 하나입니다.  
Numpy에서는 행렬곱 연산도 `.matmul()` 메소드로 아래처럼 간단히 구현할 수 있습니다.

In [ ]:
W = np.array([
    [1, 2, 3],
    [2, 3, 4],
    [3, 4, 5]
])
X = np.array([
    [1],
    [2],
    [3],
])

In [ ]:
np.matmul(W,X)

<div class="alert alert-block alert-warning">
<b> [Practice] Array를 구성하는 원소별 연산 1 </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 

Q1. `arr1` 변수에 1부터 10까지 일정한 간격으로 커지는 연속적인 10개의 원소로 구성된 Numpy Array를 만들어 보세요.(힌트: `np.linspace()`)

Q2. `arr1`의 모든 원소를 sin값으로 변환해보세요.

Q3. `arr1`의 모든 원소를 cos값으로 변환해보세요.

Q4. `arr1`의 모든 원소를 log값으로 변환해보세요.

In [ ]:
# Answers
# Q1.
arr1 = np.linspace(1, 10, 10)
arr1

# Q2.
np.sin(arr1)

# Q3.
np.cos(arr1)

# Q4.
np.log(arr1)

<div class="alert alert-block alert-warning">
<b> [Practice] Array를 구성하는 원소별 연산 2 </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요.

Q1. `arr2` 변수에 다음 표를 Numpy Array 형식으로 만드세요.

|  |  |  |
|:---:|:---:|:---:|
|1|3|5|
|2|4|6|

Q2. `arr3` 변수에 다음 표를 Numpy Array 형식으로 만드세요.

|  |  |  |  |
|:---:|:---:|:---:|:---:|
|1|2|3|4|
|5|6|7|8|
|9|10|11|12|

Q3. `arr2`와 `arr3`를 곱하는 연산을 진행하고 결과를 `arr_mul`변수에 저장해주세요.

Q4. `arr2`, `arr3`, `arr_mul`의 shape를 각각 출력하여 행렬곱 연산으로 shape이 어떻게 변화했는지 확인해보세요.

In [ ]:
# Answers
# Q1.
arr2 = np.array([[1, 3, 5], [2, 4, 6]])
print(arr2)

# Q2.
arr3 = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(arr3)

# Q3.
arr_mul = np.matmul(arr2, arr3)
arr_mul

# Q4.
print(arr2.shape)
print(arr3.shape)
print(arr_mul.shape)

# \[ 2. 집계 연산 \]

Numpy는 집계 연산을 위한 다양한 메서드가 존재합니다.  
집계 메서드는 한 축이 갖는 여러개의 값을 그룹당 하나의 값으로 반환합니다.

#### 예제)  학생들의 중간, 기말 성적표
앞선 Section에서 사용했던 학생들의 과목별 성적 데이터를 활용하겠습니다.

In [ ]:
midterm_scores = np.array([
       [80, 92, 70, 65, 92],
       [91, 75, 90, 68, 85],
       [86, 76, 42, 72, 88],
       [77, 92, 52, 60, 80],
       [75, 85, 85, 92, 95],
       [96, 90, 95, 81, 72]])

final_scores = np.array([
       [85, 95, 90, 66, 93],
       [93, 70, 80, 60, 81],
       [89, 78, 55, 75, 80],
       [80, 94, 59, 72, 90],
       [70, 82, 81, 95, 72],
       [90, 76, 93, 82, 89]])

final_scores.shape

## 1. 다양한 집계 연산 메서드

### (1) np.sum()
`.sum()`메서드를 사용하면 array의 전체 합을 구할 수 있습니다.

#### 모든 학생의 중간고사 성적 합

In [ ]:
midterm_scores.sum()

#### 0번 학생의 중간고사 성적 합

In [ ]:
midterm_scores[0,:].sum()

### (2) np.mean()
`.mean()`메서드를 사용하면 넘파이 배열의 평균값을 쉽게 구할 수 있습니다.

#### 모든 학생의 중간고사 성적 평균

In [ ]:
midterm_scores.mean()

#### 4번 학생의 중간고사 성적 평균

In [ ]:
midterm_scores[4,:].mean()

### (3) np.max()
`.max()`메서드는 array의 최댓값을 반환합니다.

 #### 기말고사 성적의 최대 점수

In [ ]:
final_scores.max()

#### 2번 학생의 최대 점수

In [ ]:
final_scores[2,:].max()

### (4) np.min()
`.min()`메서드는 array의 최솟값을 반환합니다.

 #### 기말고사 성적의 최저 점수

In [ ]:
final_scores.min()

#### 3번 학생의 최저 점수

In [ ]:
final_scores[3,:].min()

### (5) np.std()
`.std()`메서드는 array의 표준 편차를 반환합니다.

#### 전체 학생의 중간고사 성적 표준 편차

In [ ]:
midterm_scores.std()

<div class="alert alert-block alert-warning">
<b> [Practice] 다양한 집계 연산 메서드 1 </b>
</div>

앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 

다음은 Country1의 연도별 화물수출입건수(단위 : 1000 건) 표입니다.

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,290 | 6,070 |
| Year2 | 4,425 | 6,278 |
| Year3 | 4,577 | 6,350 |
| Year4 | 4,617 | 8,295 | 
| Year5 | 4,491 | 10,780 |

이 표를 `country_1` 변수에 Numpy Array 형식으로 만들면, 아래와 같습니다. 

```
country_1 = np.array([[4290, 6070],
                  [4425, 6278],
                  [4577, 6350],
                  [4617, 8295],
                  [4491, 10780]])
```
                  
다음은 Country2의 연도별 화물수출입건수(단위 : 1000 건) 표입니다.

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,505 | 7,754 |
| Year2 | 4,359 | 4,675 |
| Year3 | 4,430 | 8,559 |
| Year4 | 4,510 | 8,408 | 
| Year5 | 4,294 | 8,785 |

이 표를 `country_2` 변수에 Numpy Array 형식으로 만들면, 아래와 같습니다. 이를 활용하여 문제를 풀어보세요. 

```
country_2 = np.array([[4505, 7754],
                 [4359, 4675],
                 [4430, 8559],
                 [4510, 8408],
                 [4294, 8785]])
```

Q1. `country_1`에서 Year1부터 Year5까지의 해상 건수의 합을 구해보세요.

Q2. `country_1`에서 Year1부터 Year5까지의 항공 건수의 평균을 구해보세요.

Q3. `country_2`에서 Year1부터 Year5까지의 해상 건수의 표준 편차를 구해보세요.

Q4. `country_2`에서 Year1부터 Year5까지의 항공 건수의 최댓값과 최솟값을 구해보세요.

In [ ]:
# Answers
country_1 = np.array([[4290, 6070],
                  [4425, 6278],
                  [4577, 6350],
                  [4617, 8295],
                  [4491, 10780]])

country_2 = np.array([[4505, 7754],
                 [4359, 4675],
                 [4430, 8559],
                 [4510, 8408],
                 [4294, 8785]])

# Q1.
country_1[:, 0].sum()

# Q2.
country_1[:, 1].mean()

# Q3.
country_2[:, 0].std()

# Q4.
country_2[:, 1].max()
country_2[:, 1].min()

### (6) np.stack()
`np.stack()`메서드를 이용하면 여러 개의 Array를 하나의 Array로 합침으로써 차원을 확장시킬 수 있습니다.

#### 중간고사, 기말고사 성적 합치기

In [ ]:
scores = np.stack([midterm_scores,final_scores])
print(scores.shape)
scores

stack된 (2, 6, 5) shape의 의미는 아래와 같습니다. 

- 2 : axis = 0 : 시험 기간(중간고사, 기말고사)
- 6 : axis = 1 : 여섯명의 학생
- 5 : axis = 2 : 다섯개의 과목

### (7) np.all()
`.all()`메서드는 구성 원소가 **모두** True 일때만 True를 반환하고 하나라도 False가 있으면 False를 반환합니다.

#### 중간고사와 기말고사 영어성적이 모두 90점 이상인 학생

**시험기간**을 기준으로 집계하기 위해 `.all()`의 `axis`인자로 0을 설정합니다.

In [ ]:
np.all(scores[:,:,1]>=90, axis=0)

0번과 4번 학생만 두 시험에서 영어 성적이 모두 90점 이상인 것을 확인할 수 있습니다.

### (8) np.any()
`np.any`메서드는 구성 원소 중 **하나라도** True가 있으면 True를 반환합니다.  
Array 간 비교 시 원소가 **모두 달라야 False를**, 원소가 하나라도 같으면 True를 반환합니다.

#### 중간고사, 기말고사의 수학 점수가 하나라도 50점 이하인 학생

위 결과를 가지고 중간고사와 기말고사 성적 둘 중 하나라도 True이면 True를 반환한 결과를 얻으려면 `axis = 0`으로 설정합니다.

In [ ]:
np.any(scores[:,:,2]<=50, axis=0)

2번 학생은 두 시험중 한 시험에서 성적이 50점 이하였음을 확인할 수 있습니다.

### (9) np.unique()

`.unique()` 메서드는 입력된 Array에서 **중복되지 않는 유일한 요소**들의 numpy array를 정렬하여 반환합니다.

#### 유일한 성적 집계

In [ ]:
np.unique(scores)

중복되지 않는 유일한 성적을 반환함을 확인할 수 있습니다.

<div class="alert alert-block alert-warning">
<b> [Practice] 다양한 집계 연산 메서드 2 </b>
</div>
앞서 학습한 내용을 참고하여 코드셀에 직접 문제를 풀어보세요. 

다음은 Country1의 연도별 화물수출입건수(단위 : 1000 건) 표입니다.

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,290 | 6,070 |
| Year2 | 4,425 | 6,278 |
| Year3 | 4,577 | 6,350 |
| Year4 | 4,617 | 8,295 | 
| Year5 | 4,491 | 10,780 |

이 표를 `country_1` 변수에 Numpy Array 형식으로 만들면, 아래와 같습니다. 

```
country_1 = np.array([[4290, 6070],
                  [4425, 6278],
                  [4577, 6350],
                  [4617, 8295],
                  [4491, 10780]])
```
                  
다음은 Country2의 연도별 화물수출입건수(단위 : 1000 건) 표입니다.

| 연도 | 해상 | 항공 |
| ---- | ---: |---:|
| Year1 | 4,505 | 7,754 |
| Year2 | 4,359 | 4,675 |
| Year3 | 4,430 | 8,559 |
| Year4 | 4,510 | 8,408 | 
| Year5 | 4,294 | 8,785 |

이 표를 `country_2` 변수에 Numpy Array 형식으로 만들면, 아래와 같습니다. 이를 활용하여 문제를 풀어보세요. 

```
country_2 = np.array([[4505, 7754],
                 [4359, 4675],
                 [4430, 8559],
                 [4510, 8408],
                 [4294, 8785]])
```


Q1. `country_1`과 `country_2`를 `.stack()`을 활용하여 하나의 Array로 합쳐 `country` 변수에 저장하고 shape을 출력해보세요.

Q2. `country`에서 두 나라의 해상 화물수출입건수를 가져와 `ship` 변수를 만들어보세요. (힌트 : 범위 인덱싱)

Q3. `ship`을 이용해 5년간 두 나라의 해상 화물수출입건수의 전체 평균을 구해 `ship_mean` 변수를 만들어보세요. (힌트 : `.mean()`)

Q4. `ship`의 값이 해상 화물수출입건수 평균(`ship_mean`)을 넘는지 여부를 나타내는 Boolean Array를 만들어보세요. 

Q5. 연도별로 두 나라의 해상 화물수출입건수가 모두 평균(`ship_mean`)을 넘는지 여부를 나타내는 Boolean Array를 만들어보세요.

In [ ]:
# Answers
country_1 = np.array([[4290, 6070],
                  [4425, 6278],
                  [4577, 6350],
                  [4617, 8295],
                  [4491, 10780]])

country_2 = np.array([[4505, 7754],
                 [4359, 4675],
                 [4430, 8559],
                 [4510, 8408],
                 [4294, 8785]])
# Q1.
country = np.stack([country_1, country_2])
print(country.shape)

# Q2. 
ship = country[:,:,0]
ship

# Q3. 
ship_mean = ship.mean()
ship_mean

# Q4. 
ship > ship_mean

# Q5. 
np.all(ship > ship_mean, axis = 0)